# Ignore bundler config.
/.bundle

# Ignore Mac of tempfiles
.DS_Store
._.DS_Store

# Ignore yard docs
doc
.yardoc/*
/_yardoc/

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/coverage/
/pkg/
/spec/reports/

# rspec failure tracking
.rspec_status
